@use "../global" as *;

#about-webproduction {
    section.workflow {
        margin-top: -100px;
    }
    section.soc {
        margin-top: -50px;
    }
    section.feature {
        .sepbox {
            .imagebox {
                height: 180px;

                @include mq(sm) {
                    height: 80px;
                }
            }
            .feature {
                display: block;
                margin: 0 auto 0px auto; 

                &.madetoorder {
                    height: 100px;

                    @include mq(sm) {
                        height: 45px;
                    }
                }
                &.target {
                    height: 110px;
                    // margin-top: -5px;
                    margin-bottom: 5px;

                    @include mq(sm) {
                        height: 50px;
                    }
                }
                &.detail {
                    height: 85px;

                    @include mq(sm) {
                        height: 40px;
                    }
                }
            }
        }
    }
}//#about-webproduction


#about {
    table {
        tr.clients {
            .sp-nosep {
                .sep2 {
                    margin-bottom: 0;
                }
            }
        }
    }
}//#about