@use "../global" as *;

#archive-news {
    .news-wrapper {
        .box {
            width: 100%;
            height: 115px;
            border-top: 1px solid $color-gray-200;
            border-bottom: 1px solid $color-gray-200;
            margin-top: -1px;

            @include mq(sm) {
                width: 100%;
                height: auto;
                padding: 30px 0;
            }

            a {
                display: flex;

                @include mq(sm) {
                    display: block;
                }
            }

            .date {
                width: 140px;
                font-size: 15px;
                letter-spacing: 0.04em;
                font-weight: normal;
                font-family: $font-family-normal;
                height: 115px;
                line-height: 112px;

                @include mq(sm) {
                    width: 100%;
                    font-size: 12px;
                    height: auto;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
            }
            .title {
                width: calc(100% - 140px);
                display: table;

                @include mq(sm) {
                    width: 100%;
                }

                p {
                    display: table-cell;
                    vertical-align: middle;
                    padding-bottom: 3px;
                    font-size: 15px;
                    letter-spacing: 0.01em;
                    font-weight: bold;

                    @include mq(sm) {
                        font-size: 13px;
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }
}