@use "../global" as *;

.common-template {
    width: 100%;
    padding: 0 60px;
    padding-top: 300px;

    @include mq(sm) {
        padding: 0 22px;
        padding-top: 120px;
    }

    .common-header {
        width: 100%;
        position: relative;
        margin-bottom: 45px;

        @include mq(sm) {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 26px;
            margin-bottom: 60px;

            @include mq(sm) {
                font-size: 16px;
                margin-bottom: 25px;
            }
        }
        h1 {
            font-size: 45px;
            line-height: 64px;
            width: 90%;

            @include mq(sm) {
                width: calc(100% - 30px);
                font-size: 27px;
                line-height: 42px;
            }
        }
        .arrow {
            position: absolute;
            right: 0px;
            bottom: 10px;
            height: 22px;

            @include mq(sm) {
                height: 18px;
                bottom: 11px;
            }
        }
    }//.common-header

    a {
        .outerlink {
            display: inline;
            margin-left: 10px;
        }
    }

    .common-text {
        font-size: 15px;
        line-height: 33px;
        font-family: $font-family-normal;
        margin: 0px 0;

        @include mq(sm) {
            font-size: 14px;
            line-height: 28px;
        }
    }


    .profile-name {
        font-size: 16px;
        line-height: 36px;
        font-family: $font-family-normal;
        margin: 40px 0 30px 0;
        font-weight: bold;

        @include mq(sm) {
            font-size: 15px;
            line-height: 36px;
            margin: 20px 0 10px 0;
        }
    }

    .profile-body {
        font-size: 13px;
        line-height: 26px;
        font-family: $font-family-normal;
        margin: 0px 0;
        color: $color-gray-500;

        @include mq(sm) {
            font-size: 12px;
            line-height: 22px;
            text-align: justify;
        }
    }

    .middle-section {
        margin: 100px 0 100px 0;

        @include mq(sm) {
            margin: 70px 0 70px 0;
        }
    }

    .section-title-h2 {
        margin: 100px 0 70px 0;

        @include mq(sm) {
            margin: 80px 0 50px 0;
        }
    }

    .common-title-h2 {
        font-size: 36px;
        line-height: 60px;
        margin-top: 0;

        @include mq(sm) {
            font-size: 30px;
            line-height: 48px;
        }
    }

    .sep {
        display: flex;
        justify-content: space-between;

        .sep2 {
            width: calc(50% - 20px * 2);

            @include mq(sm) {
                width: calc(50% - 10px * 2);

                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        @include mq(sm) {
            &.sp-nosep {
                display: block;

                .sep2 {
                    width: 100%;
                }
            }
        }

    }

    .eyecatch {
        width: 100%;
        margin-bottom: 80px;
        height: 700px;
        object-fit: cover;

        @include mq(sm) {
            margin-bottom: 40px;
            height: 220px;
            margin-top: 10px;
        }
    }

    .summary {
        width: 890px;
        font-weight: bold;
        font-size: 18px;
        line-height: 250%;
        letter-spacing: -0.00em;

        @include mq(sm) {
            width: 100%;
            font-size: 17px;
            line-height: 210%;
        }
    }

    .toggle1 {
        .list {
            list-style: none;
            border-top: 1px solid $color-gray-200;
            border-bottom: 1px solid $color-gray-200;
            margin-top: -1px;

            .title {
                width: 100%;
                padding-right: 50px;
                font-size: 14px;
                font-weight: bold;
                margin-top: 50px;

                @include mq(sm) {
                    margin-top: 30px;
                    font-size: 13px;
                }

                background-image: url("/assets/image/common/toggle-plus.svg");
                background-repeat: no-repeat;
                background-size: 15px auto;
                background-position: right center;

                @include mq(sm) {
                    background-size: 12px auto;
                }

                &:hover {
                    cursor: pointer;
                }    

                &.open {
                    background-image: url("/assets/image/common/toggle-minus.svg");
                }
            }
            
            .context {
                height: 0;
                width: 100%;
                padding-right: 50px;
                overflow: hidden;
                transition: all 0.2s;
                font-size: 14px;
                color: $color-gray-500;
                margin-bottom: 50px;
                margin-top: 0;
                line-height: 160%;
                font-family: $font-family-normal;

                @include mq(sm) {
                    font-size: 12px;
                    margin-bottom: 30px;
                }

                &.open {
                    margin-top: 15px;
                }
            }
        }
    }//.toggle1



    .sepbox1 {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        counter-reset: numbering 0;

        @include mq(sm) {
            gap: 0px;
            display: block;
        }

        .sepbox {
            flex: 1;

            @include mq(sm) {
                padding-top: 25px;
                padding-bottom: 35px;
                border-bottom: 1px solid $color-gray-200;

                &:last-child {
                    border-bottom: 0;
                }
            }

            .numbering {
                font-family: "Helvetica Neue";
                margin-bottom: 45px;
                text-align: right;
                font-size: 20px;
                letter-spacing: 0.04em;

                @include mq(sm) {
                    margin-bottom: 25px;
                    font-size: 14px;
                }

                &:before {
                    counter-increment: numbering 1;
                    content: "(" counter(numbering) ")";
                }
            }
            .thumbnail {
                width: 100%;
                margin-bottom: 45px;

                @include mq(sm) {
                    margin-bottom: 25px;
                }
            }
            .title {
                font-weight: bold;
                font-size: 26px;
                line-height: 40px;
                margin-bottom: 40px;

                @include mq(sm) {
                    font-size: 16px;
                    line-height: 28px;
                    margin-bottom: 25px;
                    text-align: center;
                }
            }
            .context {
                font-size: 14px;
                line-height: 26px;
                font-family: $font-family-normal;

                @include mq(sm) {
                    font-size: 13px;
                    line-height: 22px;
                    text-align: justify;
                }

                a{
                    text-decoration: underline;
                }
            }
        }
    }//.sepbox1



    .sepbox2 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        counter-reset: numbering 0;

        .sepbox {
            padding-top: 40px;
            padding-bottom: 60px;
            width: calc(100%  / 4);
            border-top: 1px solid $color-gray-200;
            padding-right: 25px;
            padding-left: 25px;

            &:nth-child(4n-3) {
                padding-left: 0;
            }
            &:nth-child(4n) {
                padding-right: 0;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                border-top: none;
            }

            @include mq(sm) {
                padding-top: 30px;
                padding-bottom: 40px;
                width: calc(100%  / 2);
                padding-right: 15px;
                padding-left: 0px;
                border-top: 1px solid $color-gray-200 !important;

                &:nth-child(2n) {
                    padding-right: 0;
                }
                &:nth-child(1),
                &:nth-child(2) {
                    border-top: none !important;
                }
            }

            .numbering {
                font-family: "Helvetica Neue";
                margin-bottom: 35px;
                text-align: right;
                font-size: 18px;
                letter-spacing: 0.04em;

                @include mq(sm) {
                    margin-bottom: 22px;
                    font-size: 14px;
                }

                &:before {
                    counter-increment: numbering 1;
                    content: "(" counter(numbering) ")";
                }
            }
            .thumbnail {
                width: 100%;
                margin-bottom: 45px;
            }
            .title {
                font-weight: bold;
                font-size: 22px;
                min-height: 80px;
                line-height: 34px;
                margin-bottom: 10px;

                @include mq(sm) {
                    font-size: 17px;
                    min-height: 65px;
                    line-height: 28px;
                    margin-bottom: 10px;
                }
            }
            .context {
                font-size: 13px;
                line-height: 24px;
                font-family: $font-family-normal;

                @include mq(sm) {
                    font-size: 12px;
                    line-height: 20px;
                }

                a{
                    text-decoration: underline;
                }
            }
        }
    }//.sepbox1


    .showlist1 {
        width: 100%;
        
        .list {
            display: flex;
            padding: 45px 0;
            border-top: 1px solid $color-gray-200;
            border-bottom: 1px solid $color-gray-200;
            margin-top: -1px;

            @include mq(sm) {
                display: block;
                padding: 28px 0;
            }

            .title {
                font-weight: bold;
                width: 300px;
                font-size: 15px;

                @include mq(sm) {
                    width: 100%;
                    font-size: 13px;
                }
                
            }
            .context {
                width: calc(100% - 300px);
                font-size: 14px;
                line-height: 180%;
                padding-left: 80px;
                font-family: $font-family-normal;

                @include mq(sm) {
                    width: 100%;
                    font-size: 13px;
                    margin-top: 10px;
                    line-height: 170%;
                    padding-left: 0px;
                }
            }
        }//.list

    }//.showlist1


    .table1 {
        font-family: $font-family-normal;
        border-collapse: collapse;
        font-weight: normal;
        width: 100%;
        
        th, td {
            font-weight: normal;
            text-align: left;
            padding: 30px 0;
            line-height: 28px;

            @include mq(sm) {
                padding: 20px 0;
                line-height: 20px;
            }

            a {
                text-decoration: underline;
            }
        }
        th {
            font-size: 14px;
            width: 140px;
            vertical-align: top;
            color: $color-gray-500;

            @include mq(sm) {
                width: auto;
                padding-right: 40px;
                min-width: 100px;
                max-width: 140px;
                font-size: 12px;
            }
        }
        td {
            font-size: 15px;

            @include mq(sm) {
                font-size: 12px;
            }
        }

        tr {
            border-top: 1px solid $color-gray-200;
            border-bottom: 1px solid $color-gray-200;
            margin-top: -1px;
        }

    }//.table1


    .wysiwyg {
        > p {
            font-size: 15px;
            line-height: 31px;
            font-family: $font-family-normal;
            margin: 50px 0;
        }

        a {
            text-decoration: underline;
        }

        .wp-caption {
            width: 100% !important;
            
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                height: auto;
            }

            p {
                margin: 0;
                text-align: center;
                font-size: 13px;
                line-height: 28px;
                color: $color-gray-500;
                font-family: $font-family-normal;
            }
        }//.wp-caption

        ul, ol {
            padding-left: 15px;
            margin: 0px 0;

            li {
                margin-bottom: 2px;
                font-size: 15px;
                line-height: 31px;
                font-family: $font-family-normal;
            }
        }

        ul {

            li {
                list-style-type: disc;
            }
        }

        ol {

            li {
                list-style-type: decimal;
            }
        }
    }//.wysiwyg



    .recent-work {
        margin-left: -60px;
        width: calc(100% + 60px * 2);

        @include mq(sm) {
            margin-left: -22px;
            width: calc(100% + 22px * 2);
        }
    }


    .profile-box {
        margin: 80px 0 80px 0;

        @include mq(sm) {
            margin: 40px 0 20px 0;
        }

        .swiper-slide {
            position: relative;

            .image {
                width: 100%;
                height: 280px;
                object-fit: cover;

                @include mq(sm) {
                    height: 220px;
                }
            }
            .download {
                width: 30px;
                height: 30px;
                background-color: rgba(0, 0, 0, 0.1);
                line-height: 32px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                right: 15px;
                bottom: 15px;

                @include mq(sm) {
                    line-height: 34px;
                }

                .icon {
                    width: 12px;
                    display: inline-block;
                }

                &:hover {
                    cursor: pointer;
                }

            }
        }

        .copy {
            font-size: 15px;
            text-decoration: underline;
            margin-top: 40px;

            @include mq(sm) {
                font-size: 13px;
                margin-top: 25px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }



}//.common-template


