@use "../global" as *;

#toppage {
    overflow-x: hidden;

    .fv {
        padding: 0 60px;
        height: 100vh;
        position: relative;

        @include mq(sm) {
            padding: 0 22px;
        }

        h2  {
            font-size: 55px;
            position: absolute;
            bottom: 240px;

            p {
                margin: 0;
                margin-bottom: -5px;
            }

            @include mq(sm) {
                font-size: 27px;
                bottom: auto;
                letter-spacing: -0.01em;
                top: 115px;

                p {
                    margin: 0;
                    margin-bottom: 0px;
                }
            }
        }
        .subtitle {
            font-size: 13px;
            font-weight: bold;
            position: absolute;
            top: 255px;
            left: 22px;

            @include mq(sm) {
                font-size: 16px;
            }
        }
        .logo {
            width: calc(100% - 60px * 2);
            margin-top: 60px;
            position: absolute;
            bottom: -100px;
            opacity: 0.0;
            transition: all 0.5s;

            &.show {
                bottom: 70px;
                opacity: 1.0;
            }
        }

    }//.fv

    .topic-work-min {
        position: absolute;
        right: 60px;
        top: 140px;
        width: 380px;
        transition: opacity 0.0s;

        @include mq(sm) {
            right: 22px;
            top: 340px;
            height: 250px;
            width: calc(100% - 22px * 2);
            opacity: 0.0;
            transition: all 0.05s;
        }


        &.show {
            opacity: 1.0;
        }
        &.remove {
            opacity: 0.0;
        }

        .thumbnail {
            width: 100%;
            height: 190px;
            object-fit: cover;
        }//.thumbnail

        .work-title-min {
            font-size: 13px;
            font-weight: bold;
            margin-top: 25px;

            @include mq(sm) {
                margin-top: 18px;
                font-size: 12px;
            }
        }

    }//.topic-work
    

    .topic-work-large {
        width: 100%;
        margin-top: 120px;
        height: 1000px;
        opacity: 0.0;
        transition: opacity 0.0s;

        @include mq(sm) {
            height: 800px;
            margin-top: 0;
        }

        &.show {
            opacity: 1.0;
        }

        .thumbnail {
            width: 100%;
            height: 700px;
            object-fit: cover;
        }//.thumbnail

        .work-bottom {
            display: flex;
            justify-content: space-between;

            .work-title-max {
                width: calc(100% - 500px);
                font-weight: bold;
                padding-left: 60px;
    
                .client-name {
                    margin-top: 45px;
                    font-size: 14px;   
                    color: $color-gray-500; 
                }
                .work-title {
                    margin-top: 15px;
                    font-size: 20px;    
                }
                .viewsite {
                    font-size: 14px;
                    font-weight: normal;
                    font-family: $font-family-normal;
                    margin-top: 15px;
    
                    a {
                        color: $color-gray-500;
                        transition: color 0.3s;
                    }
    
                    .outerlink {
                        height: 10px;
                        margin-left: 5px;
                        margin-bottom: 0px;
                    }
    
                    &:hover {
                        a {
                            color: $color-black;
                        }
                    }
                }
            }//.work-title-max

            .button-area {
                width: 500px;
                margin-top: 65px;

                @include mq(sm) {
                    width: 100%;
                    text-align: center;
                    margin-top: 45px;
                }
            }

            
        }//.work-bottom


    }//.topic-work
    


    .business-solutions {
        padding: 0 60px;

        @include mq(sm) {
            padding: 0 22px;
        }

        .section-title-h2 {
            margin: 100px 0 80px 0;

            @include mq(sm) {
                margin: 100px 0 50px 0;
            }
        }

        p.line {
            font-weight: bold;
            font-size: 45px;
            letter-spacing: -0.0em;
            margin-bottom: 5px;

            @include mq(sm) {
                font-size: 30px;
                margin-bottom: 3px;
            }
        }

        .body {
            width: 40%;
            padding-right: 30px;
            
            @include mq(sm) {
                margin-top: 35px;
                width: 100%;
                text-align: justify;
                padding-right: 0px;
            }
            
            p {
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0em;
                margin-bottom: -1px;
                line-height: 38px;
                display: inline;

                @include mq(sm) {
                    font-size: 15px;
                    line-height: 34px;
                    margin-bottom: 5px;
                    display: inline;
                    font-weight: normal;
                    text-align: justify;
                }
            }
        }

        .message {
            margin-top: -10px;
            padding-left: 50px;

            .common-btn {
                margin-top: 160px;
            }

            @include mq(sm) {
                padding-left: 0px;
                
                .common-btn {
                    margin-top: 60px;
                }
            }
        }
    }//.business-solutoin


    .service {
        margin-top: 160px;
        padding: 0 60px;

        @include mq(sm) {
            padding: 0 22px;
        }

        .section-title-h2 {
            margin: 0px 0 80px 0;

            @include mq(sm) {
                margin: 0px 0 40px 0;
            }
        }

        .sep2 {
            &.midashi {
                width: 45%;

                p.line {
                    font-weight: bold;
                    font-size: 38px;
                    letter-spacing: -0.0em;
                    margin-bottom: 5px;

                    @include mq(sm) {
                        font-size: 26px;
                    }
                }

                .common-btn {
                    margin-top: 100px;
                }

                @include mq(sm) {
                    width: 100%;
                }
            }
        
            &.pannel {
                width: 55%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-left: 50px;

                @include mq(sm) {
                    margin-top: 30px;
                    width: 100%;
                    padding-left: 0px;
                }

                .box {
                    width: calc((100% - 50px * 2) / 3);
                    padding-bottom: 55px;

                    @include mq(sm) {
                        width: calc((100% - 15px * 1) / 2);
                        padding-bottom: 40px;
                    }

                    .thumbnail {
                        width: 100%;
                        height: 280px;
                        object-fit: cover;
                    }

                    .service-title {
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 30px;
                        margin: 30px 0 22px 0;

                        @include mq(sm) {
                            font-size: 15px;
                            line-height: 24px;
                            margin: 22px 0 8px 0;
                        }
                    }
                    .case {
                        display: flex;

                        @include mq(sm) {
                            opacity: 0.5;
                        }

                        .title {
                            font-size: 11px;
                            letter-spacing: 0.04em;
                            color: $color-gray-500;
                            padding-right: 20px;

                            @include mq(sm) {
                                display: none;
                            }
                        }
                        .work-title {
                            font-size: 12px;
                            font-weight: normal;
                            font-family: $font-family-normal;

                            @include mq(sm) {
                                font-size: 11px;
                            }
                        }
                    }
                }

            }//.pannel
        }
    }//.service



    .client {
        margin: 120px 0 200px 0;
        padding: 0 60px;


        @include mq(sm) {
            padding: 0 22px;
            margin: 120px 0 120px 0;
            overflow: hidden;
        }

        p.body   {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: -0.0em;
            margin: 100px 0 80px 0;

            @include mq(sm) {
                font-size: 16px;
                margin: 50px 0 40px 0;
                line-height: 34px;
            }
        }

        .infinite-scroll {
            width: calc(100% + 60px * 2);
            margin-left: -60px;
        }

        .client-logo-wrapper {
            width: 100%;
            text-align: center;

            div {
                display: inline;
            }

            img {
                width: auto;
                height: 22px;
                filter: grayscale(100%);
                display: inline;
                margin: 10px 20px;
            }
        }//.client-logo-wrapper

    }//.client


    .recent-work {
    }


    .blog {
        padding: 0 60px;
        margin: 0 0 110px 0;

        @include mq(sm) {
            padding: 0 22px;
            margin: 0 0 70px 0;
        }

        .common-inner {
            margin-top: 50px;

            @include mq(sm) {
                margin-top: 35px;
            }
        }

        .message {
            width: 40%;

            @include mq(sm) {
                width: 100%;
                margin-bottom: 50px;
            }

            p.line {
                font-weight: bold;
                font-size: 38px;
                letter-spacing: -0.0em;
                margin-bottom: 5px;

                @include mq(sm) {
                    font-size: 22px;
                    line-height: 170%;
                }
            }
        }

        .blog-box-wrapper {
            width: 60%;

            @include mq(sm) {
                width: 100%;
            }

            .box {
                margin-bottom: 50px;

                @include mq(sm) {
                    margin-bottom: 20px;
                }

                a {
                    display: flex;
                }

                .thumbnail {
                    width: 350px;
                    height: 225px;
                    object-fit: cover;
                    display: block;

                    @include mq(sm) {
                        width: 145px;
                        height: 93px;
                    }
    
                }
                .meta {
                    width: calc(100% - 350px);
                    padding-left: 40px;

                    @include mq(sm) {
                        width: calc(100% - 145px);
                        padding-left: 20px;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: bold;
                        letter-spacing: 0.01em;

                        @include mq(sm) {
                            font-size: 14px;
                        }
                    }
                    .author {
                        display: flex;
                        margin-top: 25px;

                        @include mq(sm) {
                            margin-top: 10px;
                        }

                        img {
                            width: 45px;
                            height: 45px;
                            object-fit: cover;
                            border-radius: 50%;

                            @include mq(sm) {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .name {
                            margin-left: 20px;
                            height: 45px;
                            line-height: 45px;
                            font-size: 13px;
                            font-weight: normal;
                            font-family: $font-family-normal;

                            @include mq(sm) {
                                margin-left: 7px;
                                font-size: 12px;
                                height: 25px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }

        .button-area {
            margin-top: 110px;

            @include mq(sm) {
                margin-top: 60px;
                text-align: center;
            }
        }

    }//.blog






    .news {
        padding: 80px 60px;

        @include mq(sm) {
            padding: 40px 22px;
        }

        .common-inner {
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;
        }
        .box {
            width: calc((100% - 20px) / 2);
            height: 115px;
            border-top: 1px solid $color-gray-200;
            border-bottom: 1px solid $color-gray-200;
            margin-top: -1px;

            @include mq(sm) {
                width: 100%;
                height: auto;
                padding: 30px 0;
            }

            a {
                display: flex;

                @include mq(sm) {
                    display: block;
                }
            }

            .date {
                width: 140px;
                font-size: 15px;
                letter-spacing: 0.04em;
                font-weight: normal;
                font-family: $font-family-normal;
                height: 115px;
                line-height: 112px;

                @include mq(sm) {
                    width: 100%;
                    font-size: 12px;
                    height: auto;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
            }
            .title {
                width: calc(100% - 140px);
                display: table;

                @include mq(sm) {
                    width: 100%;
                    display: block;
                }

                p {
                    display: table-cell;
                    vertical-align: middle;
                    padding-bottom: 3px;
                    font-size: 15px;
                    letter-spacing: 0.01em;
                    font-weight: bold;

                    @include mq(sm) {
                        font-size: 13px;
                        padding-bottom: 0px;
                    }
                }
            }
        }

        .button-area {
            margin-top: 80px;


            @include mq(sm) {
                margin-top: 80px;
                text-align: center;
            }
        }
    }//.news







}//#toppage